body {
    font-family: "Roboto", sans-serif;
}

.hero {
    width: 100%;
    height: 400px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero h1 {
    font-size: 24px;
    font-weight: bold;
}

nav {
    height: 50px;
    margin: 0 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    height: 350px;
    margin: 0 420px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
}

.left, .right {
    flex-basis: 50%;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: 900;
}

.hero-content p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content button {
    width: 100px;
    padding: 4px 24px;
    border-radius: 6px;
}

.hero-content img {
    border: 1px solid white;
    width: 520px;
    height: 250px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}


a {
    text-decoration: none;
    color: #F9FAF8;

}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.information h3 {
    font-size: 32px;
    font-weight: 900;
    margin-top: 50px;
}

.information .icons {
    display: flex;
    gap: 60px;
}

.information .icon {
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.information .img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 140px;
    height: 140px;
}